div(class="jumbotron")
    h1(style="color:blue;") Ingrese datos
    br
    form(action="/productos" method="post")
        div(class="form-group")
            label(for="nombre")
                b Nombre
            input(id="nombre" class="form-control" type="text" name="nombre" onchange="console.log('Desde pug')")
        .form-group
            label(for='precio')
                b Precio
            input#precio.form-control(type='text' name='precio')
        .form-group
            label(for='thumbail')
                b Thumbail
            input#thumbail.form-control(type='text' name='thumbail')
        button(class="btn btn-success mt-3 mb-5") Enviar 
